// Main SASS stylesheet

*{
	padding:0;
	margin:0;
}
.leadlist{
	
	.lead{
		margin:auto;
		border-radius:25px;
		height:100px;
      	z-index: 30;
      	background-color: grey;
      	width: 100%;
	}

	.lead-enter {
	  transform: translateY(-100px);
	}
	.lead-enter.lead-enter-active {
	  transform: translateY(0);
	  transition: transform 1000ms ease-in-out;
	}
	.lead-leave {
	  transform: translateY(0%);
	}
	.lead-leave.lead-leave-active {
	  transform: translate(100px);
	  transition: transform 1000ms ease-in-out;
	}
}